@use "./variables.scss" as *;

.wit-accordion {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .wit-accordion-item {
    border-radius: 8px;
    border: 1px solid $baseColor40;
    cursor: pointer;

    .wit-accordion-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      font-weight: 400;
      padding: 16px;
      h3 {
        display: flex;
        align-items: center;
        gap: 4px;
        span {
          padding: 4px 8px;
          font-size: 10px;
          font-weight: 400;
          color: $baseColor10;
          background: $primaryColor;
          border-radius: 100px;
        }
      }

      .wit-accordion-header_icon {
        transition: all 0.3s ease;
      }
    }

    .wit-accordion-content {
      opacity: 0;
      height: 0;
      padding: 0 16px;

      overflow: hidden;
      transition: all 0.5s;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .wit-accordion-content_header {
        display: flex;
        flex-direction: column;
        gap: 4px;
        p {
          font-size: 12px;
          font-weight: 600;
        }
        h4 {
          font-size: 16px;
          font-weight: 600;
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }

      .wit-accordion-content_wrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .wit-accordion-content_lists {
          display: flex;
          flex-direction: column;
          gap: 16px;
          .wit-accordion-content_item {
            display: flex;
            flex-direction: column;
            gap: 4px;
            .wit-accordion-content_item_group {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap: 4px;
            }
          }
        }
      }
    }

    &.wit-accordion-item_active {
      .wit-accordion-header_icon {
        transform: rotate(-180deg);
      }

      .wit-accordion-content {
        opacity: 1;
        height: auto;
        padding: 16px 16px;
      }
    }
  }
  .wit-btn {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 13px 16px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;

    &.wit-btn_primary {
      background: radial-gradient(
        circle,
        rgba($primaryColor, 0.7) 0%,
        $primaryColor 100%
      );
      color: $baseColor10;
    }

    &.wit-btn_secondary {
      background: $baseColor40;
      border: 1px solid $baseColor40;
    }
  }
}
