@use "./variables.scss" as *;

.wit-section-recommend {
  .wit-location-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;

    @include max-w(lg) {
      justify-content: center;
    }

    .wit-location-thailand {
      padding-left: 48px;
      max-width: 175px;
      flex: 1 0 auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @include max-w(lg) {
        display: none;
        justify-content: center;
      }
    }

    .wit-location-group {
      display: grid;
      grid-template-columns: repeat(6, 1fr);

      gap: 16px 8px;

      @include max-w(lg) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

.wp-pagenavi {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 32px;

  .previouspostslink,
  .nextpostslink,
  .extend,
  .first,
  .last {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 20px;
    text-decoration: none;
    color: $baseColor400;
  }

  .page,
  .current {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $baseColor30;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    color: $baseColor400;
  }

  .current {
    background-color: $baseColor400;
    color: #fff;
    border-color: $baseColor80;
  }
}