@use "./variables.scss" as *;

body {
  font-family: "DM Sans";
  color: #060606;

  @include min-w(sm) {
  }

  @include min-w(lg) {
  }

  .container {
    max-width: 1140px;
    margin: 0 auto;
    @include max-w(xl) {
      padding: 0 16px;
    }
  }
}

main {
  padding-top: 74px;

  @include min-w(sm) {
    padding-top: 107px;
  }
}

body:not(.logged-in) {
  .debug {
    display: none;
  }
}

.floating-debugger {
  .floating-debugger-toggle {
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001;
    color: #fff;
    font-size: 20px;
  }
  .floating-debugger-content {
    position: fixed;
    bottom: 72px;
    right: 16px;
    width: 1000px;
    max-height: 700px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 16px;
    border-radius: 8px;
    font-size: 12px;
    display: none;
    z-index: 1000;
    text-indent: .5em;
  }
  &.active {
    .floating-debugger-content {
      display: block;
    }
  }
}