@use './variables.scss' as *;

.admin-bar .wit-header {
    top: 32px;
  }
.wit-header {
  position: fixed;
  inset: 0 0 auto;
  z-index: 10000;
  .wit-header-upper {
    display: flex;
    padding: 20px 16px;
    background: #FFFFFF;

    @include min-w(xl) {
      padding: 9px 0;
    }

    .wit-header-mobile-toggle {
      font-size: 24px;

      @include min-w(xl) {
        visibility: hidden;
      }
    }
    .wit-header-search {
      font-size: 24px;
    }
    .wit-header-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 1 0;
    }
  }

  .wit-header-lower {
    padding: 4px 0 12px;
    background: #FFFFFF;

    @include max-w(xl) {
      padding: 8px 16px;
      position: absolute;
      top: 100%;
      width: 100%;
      height: calc(100vh - 64px);
      opacity: 0;
      visibility: hidden;
      translate: 0 -10%;
      transition: .35s cubic-bezier(0,0,0,1);
    }

    @include min-w(xl) {
      box-shadow: 0 1px 0 #F0F0F0;
    }

    &.active {
      @include max-w(xl) {
        opacity: 1;
        visibility: visible;
        translate: 0 0;
        z-index: 10;
      }
    }

    @include min-w(xl) {
      border-bottom: 1px solid #f0f0f0;
    }
    .wdl-header-menu {
      display: flex;
      gap: 24px;

      @include max-w(xl) {
        flex-direction: column;
        padding: 4px 24px;
      }

      @include min-w(xl) {

        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }

      a {
        display: block;
        font-weight: 500;
        padding: 6px 37px;

        @include max-w(xl) {
          padding: 0;
        }
      }
    }
  }
}
